.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.happy-clients,
.proj-completed,
.dedicated-staff,
.dedicated-staff2 {
    text-align: center;
    margin: 0 auto;
    padding: 52.23px;
    width: 100%;
    gap: 12px
}

.statistics {
    width: 100%;
    padding: 30px;
    background-color: #355EFC;
}

.statistics p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.statistics h1 {
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}