.growbussiness {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
    margin-top: 77px;
    gap: 24px;
}

.growbussiness img {
    max-width: 100%;
    height: auto;
}

.aboutcomponent {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 19px;
    width: 100%;
}

.aboutcomponent button {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 11px;
    border: 1px solid #CAD2FC;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
    color: var(--main-color, #355EFC);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutcomponent h1 {
    font-family: Jost;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.aboutcomponent p {
    color: var(--small-text-color, #555);
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tabcomponent {
    display: flex;
    justify-content: left;
    gap: 50px;
    width: 100%;
    height: auto;
    padding-top: 60px;
}

.tabcomponent button {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    color: #555555;

}

.tabcomponent button:focus {
    border-top: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}
#content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 517px;
    height: 174.57px;
    top: 24.73px;
    left: 3.22px;
    padding-top: 20px;
    color: #555555;
}



@media only screen and (min-width: 576px) and (max-width: 991px) {

    .growbussiness {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 30px;
        margin-top: 40px;
        gap: 15px;
    }

    .growbussiness img {
        max-width: 100%;
        height: auto;
        padding: 40px 90px 40px 60px;
    }

    .aboutcomponent {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 15px;
    }

    .aboutcomponent button {
        display: flex;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 11px;
        border: 1px solid #CAD2FC;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
        color: var(--main-color, #355EFC);
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .aboutcomponent h1 {
        width: 100%;
        height: 116px;
        color: var(--Heading-color, #011A41);
        font-family: Jost;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
    }

    .aboutcomponent p {
        color: var(--small-text-color, #555);
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
    }

    .tabcomponent {
        display: flex;
        justify-content: left;
        gap: 50px;
        width: 100%;
        height: auto;
        padding-top: 60px;
    }
    
    .tabcomponent button {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid transparent;
        cursor: pointer;
        color: #555555;
    
    }
    
    .tabcomponent button:focus {
        border-top: 1px solid #DEE2E6;
        border-left: 1px solid #DEE2E6;
        border-right: 1px solid #DEE2E6;
    }
    #content {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 517px;
        height: 174.57px;
        top: 24.73px;
        left: 3.22px;
        padding-top: 20px;
        color: #555555;
    }
    
}

@media only screen and (max-width: 576px) {
    .growbussiness {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 30px;
        margin-top: 40px;
        gap: 15px;
    }

    .growbussiness img {
        max-width: 100%;
        height: auto;
    }

    .aboutcomponent {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        gap: 15px;
    }

    .aboutcomponent button {
        display: flex;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        gap: 3px;
        border-radius: 11px;
        border: 1px solid #CAD2FC;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
        color: var(--main-color, #355EFC);
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .aboutcomponent h1 {
        width: 100%;
        height: auto;
        color: var(--Heading-color, #011A41);
        font-family: Jost;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    .aboutcomponent p {
        width: 100%;
        color: var(--small-text-color, #555);
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

    }

    .tabcomponent {
        display: flex;
        justify-content: left;
        gap: 0;
        width: 100%;
        height: auto;
        padding-top: 60px;
        flex-wrap: wrap;

    }
    
    .tabcomponent button {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid transparent;
        cursor: pointer;
        color: #555555;
    }
    
    .tabcomponent button:focus {
        border-top: 1px solid #DEE2E6;
        border-left: 1px solid #DEE2E6;
        border-right: 1px solid #DEE2E6;
    }
    #content {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        height: auto;
        top: 24.73px;
        left: 3.22px;
        padding-top: 20px;
        color: #555555;
    }
    
}